
<h1>Task Manager</h1>
<p>Description of the task manager</p>

<a href="/tasks/index"> Tasks 1 </a>
<%= link_to('Tasks 2', {controller: 'tasks', action: 'index'}) %>

<%= link_to('About', {action: 'about', page: 5, id: 20}) %>

