<%= link_to('Back to Home', {controller: 'main', action: 'index'}) %>
<h1>Tasks</h1>
<p>Description of the tasks page</p>
<ul>
	<% @tasks.each do |task| %>
		<li>
			<%= task %>
		</li>
	<% end %>
</ul>

<%= link_to('First Task', task_path(1)) %>